a:link {
  color:  rgb(220, 20, 60); font-style: italic
} 
a:visited {
   color:rgb(121, 8, 8);
  }
a:hover {
color: rgb(236, 145, 145);
}
a.current {
  color: rgb(196, 196, 196);}
  a:active {
    color: rgb(233, 131, 194);
  }